.drawer__wrapper {
  background: rgba(0, 0, 0, 0.2) !important;

  backdrop-filter: blur(16px) saturate(180%) !important;
  -webkit-backdrop-filter: blur(16px) saturate(180%) !important;
  color: #FFF !important;
}
